* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(3, 3, 3);
}

.container {
    max-width: 450px;
    background-color: rgb(16, 105, 111);
    border-radius: 8px;
    box-shadow: 20px 15px 35px 8px rgba(18, 110, 131, 0.7);
    font-family: sans-serif;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon {
    font-size: 40px;
    color: white;
}

h1 {
    color: white;
    letter-spacing: 1.5px;
    font-size: 24px;
    font-weight: 800;
}

#celcius,
#fahrenheit,
#kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0px 0px 8px;
    padding: 0 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.icon {
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0px 5px;
    text-align: center;
    font-size: 30px;
    background: rgb(41, 145, 152);
    color: white;
    border-radius: 0 8px 8px 0;
}

.button {
    margin-top: 25px;
    text-align: center;
}

.button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.button button:hover {
    background: rgb(48, 86, 90);
    color: white;
}